@import "scss/bootstrap";
@import "../fonts/stylesheet.css";


* {
    font-family: "Avenir Next Cyr";
    font-style: normal;
    font-weight: 300;
}
body, html {
    background: linear-gradient(0deg, #EEEEEE 0%, rgba(238, 238, 238, 0.74) 36.83%);
}

.footer {
    a {
        text-decoration: none;
    }
    p {
        margin-bottom: 0px;
    }
}
.header {
    border: unset;
    height: 960px;
    background-image: url(../images/bg-header.jpg);
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    padding-top: 83px;
    svg, img {
        vertical-align: center;
    }
    &-nav{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        line-height: 120%;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 145px;
        ul {
            list-style: none;
            display: flex;
            li {
                font-size: 18px;
                letter-spacing: 2px;
                margin-left: 50px;
            }
        }
        a {
            font-size: 20px;
            text-decoration: unset;
        }
    }
    &-content {
        color: #FFFFFF;
        h1 {
            font-weight: 750;
            font-size: 60px;
            line-height: 120%;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 13px;
        }
        h5 {
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #E46713;
            margin-bottom: 71px;
        }
        &_btn-group {
            margin-bottom: 144px;
            &__orange {
                width: 200px;
                height: 54px;
                background: #F26419;
                border: 2px solid #F26419;
                box-sizing: border-box;
                border-radius: 18px;
                margin-right: 20px;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            &__opacity {
                width: 200px;
                height: 54px;
                border: 2px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 18px;
                background: unset;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
        &__discription {
            display: flex;
            p {
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
                width: 328px;
            }
            img {
                width: 24px;
                height: 15px;
                margin-right: 15px;
            }
        }
    }
}
.metod {
    background-image: url(../images/bg-diplom.jpg);
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    height: 909px;
    padding-top: 100px;
    h2{
        font-weight: 750;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    p {
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 78px;
    }
    &-content{
        display: flex;
        img {
            width: 149px;
            height: 208px;
        }
        hr {         
            border: 1px solid rgba(255, 255, 255, 0.2);
            margin: 0 50px 0 57px;
            height: 208px;
        }
        div {
            width: 924px;
        }
        h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #E46713;
            margin-bottom: 28px;
        }
        p {
            font-weight: normal;
            font-size: 20px;
            line-height: 140%;
            color: #FFFFFF;
            margin: 0px;
        }
    }
    &-content-2{
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        div {
            width: 380px;
        }
        img {
            margin-left: 157px;
        }
        h4 {
            font-weight: 750;
            font-size: 20px;
            line-height: 140%;
            text-align: center;
            color: #FFFFFF;
            margin-top: 20px;
        }
    }
}
.fear {
    background-image: url(../images/bg-swimmer.jpg);
    background-position: center;
    background-size: cover;
    height: 653px;
    color: #062440;
    &-content{
        display: flex;
        img {
            margin-top: -28px;
        }
        div {
            margin-left: 93px;
        }
        h2{
            margin-top: 100px;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 48px;
            line-height: 120%;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        p {
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
        }
        .beginner {
            font-weight: normal;
            font-size: 20px;
            line-height: 140%;
        }
        h3 {
            margin-top: 41px;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        &_children {
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #FFFFFF;
            width: 418px;
            height: 39px;
            background: #062440;
            border-radius: 4px;
            margin-bottom: 35px;
        }
    }
}
.garant {
    position: relative;
    background: #E46713;
    background-image: url(../images/bg-garant.png);
    height: 487px;
    color: #FFFFFF;
    padding-top: 50px;
    &-content{
        display: flex;
        &_left{
            width: 600px;
            h2{
                font-weight: bold;
                font-size: 48px;
                line-height: 120%;
                letter-spacing: 2px;
                text-transform: uppercase;
                margin-top: 30px;
            }
            p {
                font-weight: 500;
                margin-top: 40px;
                font-size: 20px;
                line-height: 120%;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            &__if {
                margin-top: 50px;
                font-weight: normal;
                font-size: 24px;
                line-height: 29px;
                display: flex;
                p {
                    width: 550px;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 29px;
                    margin: 0;
                    text-transform: unset;
                }
                svg {
                    margin-right: 20px;
                }
            }
        }
        &_right {
            p{
                margin-top: 40px;
                width: 369px;
                height: 119px;
                background: #10629A;
                border-radius: 12px;
                padding: 19px 0 0 31px;
                font-weight: normal;
                font-size: 20px;
                line-height: 140%;
                color: #FFFFFF;
            }
            img {
                position: absolute;
                bottom: 0px;
                left: 1111px;
            }
        }
    }
}
.cost_edu{
    text-align: center;
    color: #062440;
    padding-top: 94px;
    height: 1680px;
    background: url(../images/bg-cost.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    .action{
        text-align: left;
        font-weight: normal;
        font-size: 20px;
        line-height: 140%;
    }
    h3 {
        text-align: left;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    hr {
        border: 1px solid #F26419;
        margin-top: 80px;
        margin-bottom: 28px;
    }
    h2{
        font-weight: bold;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 2px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    p{
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 87px;
    }
    #green {
        box-shadow: inset 0px 5px 0px #81DA7F;
    }
    #purp {
        box-shadow: inset 0px 5px 0px #9F66E8;
    }
    #orange {
        box-shadow: inset 0px 5px 0px #E8C466;
    }
    #blue {
        box-shadow: inset 0px 5px 0px #66B9E8;
    }
    #red {
        box-shadow: inset 0px 5px 0px #E86666;
    }
    &-callback {
        display: flex; 
        background: #062440;
        border-radius: 20px;
        padding: 41px 60px;
        &_left {
            width: 350px;
            display: flex;
            text-align: left;
            hr {
                border: 1px solid rgba(255, 255, 255, 0.2);
                margin: 0px 40px;
                height: 101px;
            }
            h3 {
                font-weight: 750;
                font-size: 20px;
                line-height: 120%;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #F26419;
                margin-bottom: 21px;
            }
            p {
                font-weight: normal;
                font-size: 20px;
                line-height: 140%;
                color: #FFFFFF;
                margin: 0;
            }   
        }
        &_right {
            padding-top: 25px;
            input {
                padding-left: 20px;
                width: 457px;
                height: 50px;
                margin-right: 20px;
                background: #FFFFFF;
                border: 1px solid #EBEBEB;
                box-sizing: border-box;
                border-radius: 12px;
            }
            &__btn {
                width: 250px;
                height: 54px;
                background: #F26419;
                border: 2px solid #F26419;
                box-sizing: border-box;
                border-radius: 18px;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }
    &-price-card{
        width: 280px;
        height: 426px;
        background: #062440;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        overflow: hidden;
        h3{
            border-radius: 20px 20px 0px 0px;
            padding-top: 25px;
            margin-bottom: 30px;
            height: 93px;
            background: #FFFFFF;
            font-weight: 750;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #062440;
            text-align: center;
        }
        p {
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            color: #FFFFFF;
            margin-bottom: 15px;
        }
        h4 {
            margin-top: 85px;
            font-weight: 600;
            font-size: 32px;
            line-height: 120%;
            letter-spacing: 1px;
            text-transform: lowercase;
            color: #F26419;
        }
        &__btn{
            margin-top: 20px;
            width: 240px;
            height: 54px;
            background: #F26419;
            border: 2px solid #F26419;
            box-sizing: border-box;
            border-radius: 18px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        .descrip {
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
            margin-bottom: -51px;
        }
    }
}
.reviews {
    background: #062440;
    position: relative;
    overflow: hidden;
    height: 519px;
    padding-top: 80px;
    #reviews-right {
        position: absolute;
        right: 298px;
        top: 290px;
    }
    #reviews-left {
        position: absolute;
        left: 319px;
        top: 290px;
    }
    h2{
        font-weight: bold;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 60px;
    }
    &-bg {
        position: absolute;
        right: 44px;
        bottom: 267px;
    }
    &-content{
        display: flex;
        img {
            width: 380px;
            height: 220px;
            margin-right: 61px;
            border-radius: 12px;
        }
        h3{
            font-weight: bold;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 6px;
        }
        h4{
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            color: #F26419;
            margin-bottom: 20px;
        }
        p {
            font-weight: normal;
            font-size: 20px;
            line-height: 140%;
            color: #FFFFFF;
        }
    }
}
.sixteen {
    background-image: url(../images/bg-16.jpg);
    background-size: cover;
    background-position: center;
    height: 396px;
    &-content {
        display: flex;
        padding-top: 68px;
        &_left{
            flex: 1;
            h2 {
                font-weight: bold;
                font-size: 48px;
                line-height: 120%;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 40px;
            }
            &_btn{
                width: 270px;
                height: 54px;
                border: 2px solid #F26419;
                background: unset;
                box-sizing: border-box;
                border-radius: 18px;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
        &_right{
            flex: 1;
            position: relative;
            img {
                width: 314px;
                height: 210px;
                position: absolute;
            }
            p {
                font-weight: normal;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
                position: absolute;
                width: 380px;
                left: 200px;
                top: 136px;
            }
        }
    }
}
.contacts {
    color: #062440;
    background-image: url(../images/bg-contact.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    &-content {
        padding-top: 74px;
        h2 {
            font-weight: bold;
            font-size: 48px;
            line-height: 120%;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        &-columns{
            display: flex;
            &_left{
                width: 500px;
                h3 {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 120%;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 24px;
                    line-height: 29px;
                    margin-bottom: 40px;
                }
                &_btn{
                    width: 270px;
                    height: 54px;                    
                    border: 2px solid #062440;
                    background: unset;
                    box-sizing: border-box;
                    border-radius: 18px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    letter-spacing: 0.75px;
                    text-transform: uppercase;
                }
            }
            &_right{
                width: 680px;
                h3 {
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 120%;
                    letter-spacing: 1px;
                    margin-bottom: 40px;
                }
                h2 {
                    color: #F26419;
                    text-align: left;
                    margin-bottom: 60px;
                }
                a {
                    color: #F26419;
                    text-decoration: unset;
                }
            }
        }
    }
}
.map {
    img {
        width: 100%;
    }
}