@import "scss/bootstrap";
@import "../fonts/stylesheet.css";

@media screen and (min-width: 1850px) {
    .header {
        padding: 83px 0px 120px;
        h1 {
            font-size: 60px;
        }
    }
    .header-nav {
        align-items: baseline;
        ul {
            li {
                margin-left: 50px;
            }
        }
    }
    .metod {
        h2 {
            font-size: 48px;
        }
        &-content { 
            div {
                width: 924px;
            }
        }
        &-content-2 { 
            div {
                width: 380px;
            }
            img {
                margin-left: 157px;
            }
        }
    }
    .fear {
        height: 653px;
        &-content {
            div {
                margin-left: 93px;
            }
            &_children {
                font-size: 24px;
                width: 418px;
                height: 39px;
            }
        }
    }
    .garant {
        height: 487px;
        &-content {
            &_left{
                width: 600px;
                h2 {
                    font-size: 48px;
                }
            }
            &_right{
                p{
                    width: 369px;
                    height: 119px;
                }
            }
        }
    }
    .cost_edu {
        h3 {
            font-size: 20px;
        }
        h2 {
            font-size: 48px;
        }
        &-callback {
            padding: 41px 60px;
            input {
                width: 457px;
            }
        }
    }
    .sixteen {
        &-content {
            h2 {
                font-size: 48px;
            }
        }
    }
    .contacts-content-columns {
        &_right {
            width: 600px;
            h3 {
                font-size: 36px;
            }
            h2 {
                font-size: 48px;
            }
        }
    }
    .reviews {
        #reviews-left {
            left: 319px;
        }
        #reviews-right {
            right: 298px;
        }
        .swiper {
            img {
                height: 220px;
                width: 380px;
            }
        }
    }
}
@media screen and (max-width: 1850px) {
    .header {
        padding: 83px 0px 120px;
        h1 {
            font-size: 60px;
        }
    }
    .header-nav {
        align-items: baseline;
        ul {
            li {
                margin-left: 50px;
            }
        }
    }
    .metod {
        h2 {
            font-size: 48px;
        }
        &-content { 
            div {
                width: 924px;
            }
        }
        &-content-2 { 
            div {
                width: 380px;
            }
            img {
                margin-left: 157px;
            }
        }
    }
    .fear {
        height: 653px;
        &-content {
            div {
                margin-left: 93px;
            }
            &_children {
                font-size: 24px;
                width: 418px;
                height: 39px;
            }
        }
    }
    .garant {
        height: 487px;
        &-content {
            &_left{
                width: 600px;
                h2 {
                    font-size: 48px;
                }
            }
            &_right{
                p{
                    width: 369px;
                    height: 119px;
                }
            }
        }
    }
    .cost_edu {
        h3 {
            font-size: 20px;
        }
        h2 {
            font-size: 48px;
        }
        &-callback {
            padding: 41px 60px;
            input {
                width: 457px;
            }
        }
    }
    .sixteen {
        &-content {
            h2 {
                font-size: 48px;
            }
        }
    }
    .contacts-content-columns {
        &_right {
            width: 600px;
            h3 {
                font-size: 36px;
            }
            h2 {
                font-size: 48px;
            }
        }
    }
    .reviews {
        #reviews-left {
            left: 10px;
        }
        #reviews-right {
            right: 10px;
        }
        .swiper {
            img {
                height: 220px;
                width: 380px;
            }
        }
    }
}
@media screen and (max-width: 576px) { 
    .header {
        padding: 10px ;
        h1 {
            font-size: 40px;
        }
        &-nav {
            flex-direction: column;
            align-items: center;
            ul {
                flex-direction: column;
                li {
                    padding: 10px 0;
                    margin: 0;
                }
            }
        }
        .header-content_btn-group__orange {
            margin-bottom: 10px;
        }
    }
    .metod {
        h2 {
            font-size: 38px;
        }
        &-content {
            flex-direction: column;
            hr {
                display: none;
            }
            div {
                width: 100%;
            }
            h3 {
                margin-top: 10px;
            }
            img {
                margin: 0;
            }
        }
        &-content-2 {
            flex-direction: column;
            div {
                width: 100%;
            }
            img {
                margin-left: calc(50%-33px);
            }
        }
    }
    .fear {
        height: inherit;
        &-content {
            flex-direction: column;
            div {
                margin-left: 0px;
            }
            &_children {
                font-size: inherit;
                width: 100%;
                height: inherit;
            }
        }
    }
    .garant {
        height: inherit;
        &-content {
            flex-direction: column;
            &_left{
                width: 100%;
                h2 {
                    font-size: 38px;
                }
            }
            &_right{
                p{
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    .cost_edu {
        h3 {
            font-size: 18px;
        }
        h2 {
            font-size: 38px;
        }
        &-callback {
            padding: 20px;
            margin-top: 10px;
            flex-direction: column;
            input {
                height: inherit;
                width: 100%;
            }
        }
        .cost_edu-callback_right__btn {
            margin-top: 10px;
        }
        &-price-card {
            margin: 10px auto;
        }
    }
    .reviews {
        &-content{
            flex-direction: column;
            .swiper {
                img {
                    width: 98%;
                    height: inherit;
                }
        }
        }
        &-bg {
            display: none;
        }
        h3 {
            margin-top: 10px;
        }
        #reviews-left {
            left: 10px;
        }
        #reviews-right {
            right: 10px;
        }
    }
    .sixteen {
        &-content {
            h2 {
                font-size: 35px;
            }
        }
    }
    .contacts-content-columns {
        flex-direction: column;
        &_right {
            width: 100%;
            h3 {
                font-size: 26px;
                margin-top: 10px;
            }
            #phone {
                font-size: 25px;
            }
        }
    }
    #swimmer {
        display: none;
    }
}


* {
    font-family: "Avenir Next Cyr";
    font-style: normal;
    font-weight: 300;
}
body, html {
    background: linear-gradient(0deg, #EEEEEE 0%, rgba(238, 238, 238, 0.74) 36.83%);
    -webkit-font-smoothing: antialiased;
}
body {
    overflow-x: hidden;
}
.footer {
    a {
        text-decoration: none;
    }
    p {
        margin-bottom: 0px;
    }
}
.header {
    border: unset;
    background-image: url(../images/bg-header.jpg);
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    svg, img {
        vertical-align: center;
    }
    &-nav{
        display: flex;
        justify-content: space-between;
        line-height: 120%;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 145px;
        ul {
            list-style: none;
            display: flex;
            li {
                font-size: 18px;
                letter-spacing: 2px;
            }
        }
        a {
            font-size: 20px;
            color: #fff;
            text-decoration: unset;
        }
    }
    &-content {
        color: #FFFFFF;
        h1 {
            font-weight: 750;
            line-height: 120%;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 13px;
        }
        h5 {
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #E46713;
            margin-bottom: 71px;
        }
        &_btn-group {
            margin-bottom: 144px;
            &__orange {
                width: 200px;
                height: 54px;
                background: #F26419;
                border: 2px solid #F26419;
                box-sizing: border-box;
                border-radius: 18px;
                margin-right: 20px;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            &__orange:hover {
                background-color: lighten($color: #F26419, $amount: 10);
                border: 2px solid lighten($color: #F26419, $amount: 10);
            }
            &__opacity {
                width: 200px;
                height: 54px;
                border: 2px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 18px;
                background: unset;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            &__opacity:hover {
                background-color: #fff;
                color: #062440;
            }
        }
        &__discription {
            display: flex;
            p {
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                color: #FFFFFF;
                width: 328px;
            }
            img {
                width: 24px;
                height: 15px;
                margin-right: 15px;
            }
        }
    }
}
.metod {
    background-image: url(../images/bg-diplom.jpg);
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    padding: 100px 0px;
    h2{
        font-weight: 750;
        line-height: 120%;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    p {
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 78px;
    }
    &-content{
        display: flex;
        img {
            width: 149px;
            height: 208px;
            border-radius: 10px;
        }
        hr {         
            border: 1px solid rgba(255, 255, 255, 0.2);
            margin: 0 50px 0 57px;
            height: 208px;
        }
        h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #E46713;
            margin-bottom: 28px;
        }
        p {
            font-weight: normal;
            font-size: 20px;
            line-height: 140%;
            color: #FFFFFF;
            margin: 0px;
        }
    }
    &-content-2{
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        h4 {
            font-weight: 750;
            font-size: 20px;
            line-height: 140%;
            text-align: center;
            color: #FFFFFF;
            margin-top: 20px;
        }
    }
}
.fear {
    background-image: url(../images/bg-swimmer.jpg);
    background-position: center;
    background-size: cover;
    color: #062440;
    &-content{
        display: flex;
        img {
            margin-top: -28px;
        }
        h2{
            margin-top: 100px;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 48px;
            line-height: 120%;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        p {
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
        }
        .beginner {
            font-weight: normal;
            font-size: 20px;
            line-height: 140%;
        }
        h3 {
            margin-top: 41px;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        &_children {
            font-weight: normal;
            line-height: 29px;
            text-align: center;
            padding-top: 3px;
            color: #FFFFFF;
            background: #062440;
            border-radius: 4px;
            margin-bottom: 35px;
        }
    }
    #garantee {
        display: none;
    }
}
.garant {
    position: relative;
    background: #E46713;
    background-image: url(../images/bg-garant.png);
    color: #FFFFFF;
    padding-top: 50px;
    &-content{
        display: flex;
        &_left{
            h2{
                font-weight: bold;
                line-height: 120%;
                letter-spacing: 2px;
                text-transform: uppercase;
                margin-top: 30px;
            }
            p {
                font-weight: 500;
                margin-top: 40px;
                font-size: 20px;
                line-height: 120%;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            &__if {
                margin-top: 50px;
                font-weight: normal;
                font-size: 24px;
                line-height: 29px;
                display: flex;
                p {
                    width: 550px;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 29px;
                    margin: 0;
                    text-transform: unset;
                }
                svg {
                    margin-right: 20px;
                }
            }
        }
        &_right {
            p{
                margin-top: 40px;
                background: #10629A;
                border-radius: 12px;
                padding: 19px 0 0 31px;
                font-weight: normal;
                font-size: 20px;
                line-height: 140%;
                color: #FFFFFF;
            }
            img {
                position: absolute;
                bottom: 0px;
                left: 1111px;
            }
        }
    }
}
.cost_edu{
    padding-top: 94px;
    padding-bottom: 80px;
    text-align: center;
    color: #062440;
    background: url(../images/bg-cost.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    .action{
        text-align: left;
        font-weight: normal;
        font-size: 20px;
        line-height: 140%;
    }
    h3 {
        text-align: left;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    hr {
        border: 1px solid #F26419;
        margin-top: 80px;
        margin-bottom: 28px;
    }
    h2{
        font-weight: bold;
        line-height: 120%;
        letter-spacing: 2px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    p{
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 87px;
    }
    #purp {
        box-shadow: inset 0px 5px 0px #9F66E8;
    }
    #orange {
        box-shadow: inset 0px 5px 0px #E8C466;
    }
    #blue {
        box-shadow: inset 0px 5px 0px #66B9E8;
    }
    #red {
        box-shadow: inset 0px 5px 0px #E86666;
    }
    &-callback {
        display: flex; 
        background: #062440;
        border-radius: 20px;
        &_left {
            width: 350px;
            display: flex;
            text-align: left;
            hr {
                border: 1px solid rgba(255, 255, 255, 0.2);
                margin: 0px 40px;
                height: 101px;
            }
            h3 {
                font-weight: 750;
                font-size: 20px;
                line-height: 120%;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #F26419;
                margin-bottom: 21px;
                box-shadow: unset;
            }
            p {
                font-weight: normal;
                font-size: 20px;
                line-height: 140%;
                color: #FFFFFF;
                margin: 0;
            }   
        }
        &_right {
            padding-top: 25px;
            input {
                padding-left: 20px;
                height: 50px;
                margin-right: 20px;
                background: #FFFFFF;
                border: 1px solid #EBEBEB;
                box-sizing: border-box;
                border-radius: 12px;
            }
            &__btn {
                width: 250px;
                height: 54px;
                background: #F26419;
                border: 2px solid #F26419;
                box-sizing: border-box;
                border-radius: 18px;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            &__btn:hover {
                background-color: lighten($color: #F26419, $amount: 10);
                border: 2px solid lighten($color: #F26419, $amount: 10);
            }
        }
    }
    &-price-card{
        width: 280px;
        height: 426px;
        background: #062440;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        overflow: hidden;
        h3{
            border-radius: 20px 20px 0px 0px;
            padding-top: 25px;
            margin-bottom: 30px;
            height: 93px;
            background: #FFFFFF;
            font-weight: 750;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #062440;
            text-align: center;
            box-shadow: inset 0px 5px 0px #81DA7F;
        }
        p {
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            color: #FFFFFF;
            margin-bottom: 15px;
        }
        h4 {
            margin-top: 85px;
            font-weight: 600;
            font-size: 32px;
            line-height: 120%;
            letter-spacing: 1px;
            text-transform: lowercase;
            color: #F26419;
        }
        &__btn{
            margin-top: 20px;
            width: 240px;
            height: 54px;
            background: #F26419;
            border: 2px solid #F26419;
            box-sizing: border-box;
            border-radius: 18px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &__btn:hover {
            background-color: lighten($color: #F26419, $amount: 10);
            border: 2px solid lighten($color: #F26419, $amount: 10);
        }
        .descrip {
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
            margin-bottom: -51px;
        }
    }
}
.reviews {
    background: #062440;
    position: relative;
    overflow: hidden;
    padding: 80px 0 97px;
    #reviews-right {
        background: unset;
        border: unset;
        position: absolute;
        top: 290px;
    }
    #reviews-left {
        background: unset;
        border: unset;
        position: absolute;
        top: 290px;
    }
    h2{
        font-weight: bold;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 60px;
    }
    &-bg {
        position: absolute;
        right: 2.3%;
        top: 0px;
    }
    &-content{
        overflow: hidden;
        .swiper {
            display: flex;
            justify-content: space-between;
            width: 200%;
            transition: margin-left 1s ease-in-out;
            margin-left: 0px;
            img {
                margin-right: 61px;
                border-radius: 12px;
            }
            h3{
                font-weight: bold;
                font-size: 20px;
                line-height: 120%;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 6px;
            }
            h4{
                font-weight: normal;
                font-size: 24px;
                line-height: 29px;
                color: #F26419;
                margin-bottom: 20px;
            }
            p {
                font-weight: normal;
                font-size: 20px;
                line-height: 140%;
                color: #FFFFFF;
                padding-right: 10px;
            }
        }
    }
}
.sixteen {
    background-image: url(../images/bg-16.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
    &-content {
        display: flex;
        padding-top: 68px;
        &_left{
            flex: 1;
            h2 {
                font-weight: bold;
                line-height: 120%;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 40px;
            }
            &_btn{
                width: 270px;
                height: 54px;
                border: 2px solid #F26419;
                background: unset;
                box-sizing: border-box;
                border-radius: 18px;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            &_btn:hover {
                background-color: lighten($color: #F26419, $amount: 10);
                border: 2px solid lighten($color: #F26419, $amount: 10);
            }    
        }
        &_right{
            flex: 1;
            position: relative;
            img {
                width: 314px;
                height: 210px;
                position: absolute;
            }
            p {
                font-weight: normal;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
                position: absolute;
                width: 380px;
                left: 200px;
                top: 136px;
            }
        }
    }
}
.contacts {
    color: #062440;
    background-image: url(../images/bg-contact.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
    &-content {
        padding-top: 74px;
        h2 {
            font-weight: bold;
            font-size: 48px;
            line-height: 120%;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        &-columns{
            display: flex;
            &_left{
                width: 500px;
                h3 {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 120%;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 24px;
                    line-height: 29px;
                    margin-bottom: 40px;
                }
                &_btn{
                    width: 270px;
                    height: 54px;                    
                    border: 2px solid #062440;
                    background: unset;
                    box-sizing: border-box;
                    border-radius: 18px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    letter-spacing: 0.75px;
                    text-transform: uppercase;
                }
                &_btn:hover {
                    background-color: #062440;
                    color: #fff;
                }
            }
            &_right{
                h3 {
                    font-weight: 600;
                    line-height: 120%;
                    letter-spacing: 1px;
                    margin-bottom: 40px;
                }
                h2 {
                    color: #F26419;
                    text-align: left;
                    margin-bottom: 60px;
                }
                a {
                    color: #F26419;
                    text-decoration: unset;
                }
            }
        }
    }
}